/* You can add global styles to this file, and also import other style files */
body {
  user-select: none;
  background-color: #cccccc;
  font-family: Calibri, serif;
}

#chart {
  background-color: #e4e0e0;
  margin: 10px auto;
  border: 1px solid black;
  box-shadow: 0 0 20px 0 #00000033;
  border-radius: 5px;
}